name: PR Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: check-pr-${{ github.ref }}
  cancel-in-progress: true

env:
  WORKING_DIR: apps

jobs:
  analyze-and-format:
    name: Analyze and Format Check
    runs-on: ubuntu-24.04
    
    steps:
      # https://github.com/actions/checkout
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Setup Flutter with FVM
        uses: ./.github/actions/setup-fvm
      
      - name: Run melos analyze
        run: melos run analyze
      
      - name: Run melos test
        run: melos run test
      
      - name: Check Dart Format
        run: melos run format --set-exit-if-changed

  check-i18n-files:
    name: Check i18n Files
    runs-on: ubuntu-24.04
    outputs:
      files_exists: ${{ steps.check_i18n_files.outputs.files_exists }}
    
    steps:
      # https://github.com/actions/checkout
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      # https://github.com/andstor/file-existence-action
      - name: Check for i18n files existence
        id: check_i18n_files
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: "apps/assets/i18n/*.i18n.json"

  i18n-validation:
    name: i18n Validation
    runs-on: ubuntu-24.04
    needs: check-i18n-files
    if: needs.check-i18n-files.outputs.files_exists == 'true'
    
    steps:
      # https://github.com/actions/checkout  ss
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Setup Flutter with FVM
        uses: ./.github/actions/setup-fvm
      
      - name: Run slang analyze
        working-directory: ${{ env.WORKING_DIR }}
        run: dart run slang analyze